school_sys/documents/
school_sys/test_admissions_full.sh 
school_sys/admissions/check_backup.sh
school_sys/data_massive_insert.py
test_login.http
school_sys/users/fron*
docs/*
dudas.txt
verify_admin_endpoints.py
school_sys/test_tutors_update.sh
school_sys/templates/dashboard.html
test_admin_curl.sh
verify_crud.py
seed_data.py 
verify_ad*
school_sys/verify_api.sh
school_sys/server.test_login 
school_sys/templates/dashboard_admin.html
school_sys/server.log
school_sys/admissions/documents
school_sys/admissions/check.sh
school_sys/test_doc.pdf
school_sys/test_img.jpg
.env
verify_full_system.py
venv