school_sys/documents/
school_sys/test_admissions_full.sh 
school_sys/admissions/check_backup.sh
school_sys/data_massive_insert.py
test_login.http
school_sys/users/fron*
docs/Enti*
dudas.txt
verify_admin_endpoints.py
school_sys/test_tutors_update.sh
school_sys/templates/dashboard.html
test_admin_curl.sh
verify_crud.py
seed_data.py 
verify_ad*
school_sys/verify_api.sh
school_sys/server.test_login 
school_sys/templates/dashboard_admin.html
school_sys/server.log
school_sys/admissions/documents
school_sys/admissions/check.sh
school_sys/test_doc.pdf
school_sys/test_img.jpg
verify_full_system.py
venv
school_sys/test_endpoints_admin.sh
school_sys/test_endpoints_admissions.sh
school_sys/test_endpoints_comedor.sh
school_sys/test_endpoints_estudiante.sh
school_sys/create_test_admin.py
school_sys/create_test_student.py
school_sys/cron_adeudos_vencidos.py
school_sys/cron_recordatorio_socioeconomico.py
school_sys/cron_reinscripcion.py
school_sys/menus/

school_sys/admissions/utils_pdf.py
school_sys/cron_recordatorios_pagos.py
school_sys/estudiantes/utils_pdf.py
school_sys/get_code.py
school_sys/setup_reset_user.py
school_sys/test_password_reset.sh
school_sys/verify_financial_features.py

school_sys/__pycache__/*
school_sys/admissions/__pycache__/*
school_sys/estudiantes/__pycache__/*
school_sys/pagos/__pycache__/*
school_sys/users/__pycache__/*
school_sys/comedor/__pycache__/*
school_sys/school_sys/__pycache__/*

school_sys/admissions/migrations/*
school_sys/estudiantes/migrations/*
school_sys/pagos/migrations/*
school_sys/users/migrations/*
school_sys/comedor/migrations/*
school_sys/school_sys/migrations/*


school_sys/estudiantes/documents/
school_sys/media/