services:
  school_sys:
    build: .
    container_name: sms-school_sys-1
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
